/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  margin-top: 100px;
}
ul li {
  list-style: none;
  border: 1px solid grey;
  padding: 10px;
}

h2 {
  text-align: center;
  margin-right: 20px;
}
input {
  border: none;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-align: center;
}
 
li {
  list-style: none;
  text-align: center;
}